{% set page_title = page_title | default('Mario Kart Tournament') %}
{% set active_page = active_page | default('home') %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/jumbotron-narrow.css" />
  <script src="/static/js/jquery.1.12.4.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

	{% block header %}{% endblock %}
</head>
<body>
	<div class="container">
		<div class="header clearfix">
      <h3 class="text-muted float-left">Welcome to Mario Kart!</h3>
      <ul class="nav nav-pills float-right">
      	{% if request.path.startswith('/admin') %}
      		<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      		<li class="nav-item"><a href="/admin" class="nav-link {{ 'active' if active_page == 'setup' }}">Setup</a></li>
      		<li class="nav-item"><a href="/admin/drivers" class="nav-link {{ 'active' if active_page == 'drivers' }}">Drivers</a></li>
      	{% else %}
      		<li class="nav-item {{ 'active' if active_page == 'home' }}"><a href="/" class="nav-link">Home</a></li>
      		<li class="nav-item {{ 'active' if active_page == 'rules' }}"><a href="/tournaments/rules" class="nav-link">Rules</a></li>
      	{% endif %}
      </ul>
		</div>
		<div align="center">
			<div id="content">
        {% for category,message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
				{% block content %}{% endblock %}
			</div>
		</div>
    <script type="text/javascript">
      $(document).ready(function () {
        // unique page functions to load here
        {% block onload_scripts %}{% endblock %}
      });
    </script>
		<footer class="footer" align="center">
        	<p><a href="/admin">Tournament Admin</a> | Created By Rob Weber</p>
      </footer>
	</div>
</body>
</html>
