{% extends "base.html" %}
{% block content %}
{% if settings['tournament_active'] == 'false': %}
<h2><a href="/tournaments/add_driver" class="btn btn-success btn-block btn-lg mb-3">New Driver</a></h2>
{% endif %}
{% set mod = namespace(c=0) %}
<div class="jumbotron">
  {% if drivers | length > 0: %}
  	<div class="row">
  	{% for driver in drivers: %}
      {% if mod.c % 4 == 0: %}
        </div>
        <div class="row">
      {% endif %}
        <div class="col-md-3 col-6">
          <h4><a href="/tournaments/driver/{{ driver['id'] }}"><img src="/static/img/avatars/{{ driver['image'] }}.jpg" /><br />{{ driver['name'] }}</a></h4>
        </div>
  		{% set mod.c = mod.c + 1 %}
  	{% endfor %}
  	</div>
  {% else %}
  	<h3>There aren't any drivers - add one!</h3>
  {% endif %}
</div>
{% endblock %}
