{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-body" align="left">
    <p>Currently the tournament is set for <b>{{ active_game.get_description() }}</b></p>
  	<p>The tournament is a single elimination style bracket.</p>
  	<p>Drivers will be randomly matched. </p>
  	<p>The <a href="/tournaments/scoreboard">scoreboard page</a> will show the standings and currently active match. </p>
    <p>The game administrator will manage the winner of each match to advance the tournament.</p>
  </div>
</div>
{% endblock %}
